*{
    margin:0;
    padding: 0;
}
ul,li,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
input{
    border: none;
    padding: 0px;
}
select{
    box-sizing: content-box;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.clearfix:before, .clearfix:after {
    /*清除浮动，最好最标准的写法*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
}
