body,html{
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 750px;
    min-width: 320px;
}
.top{
    height: 40px;
    width: 10rem;
    background-color: black;
}
.main{
    width: 10rem;
    height: 1000px;
    background-color: #cb0a56;
}
.main>.loop-pic{
    width: 10rem;
    height: 300px;
    background-color: #599100;
}
.main>.pic{
    width: 10rem;
    height: 30%;
}
.main>.pic>div{
    width: 25%;
    /*height: 50%;*/
    float: left;
    padding-top: 25%;
    background-color: chartreuse;
    box-sizing: border-box;
    border: 1px solid black;
}