body,html{
    width: 10rem;
}
/*loop模板引擎*/
#loop-pic>ul{
    width: 70rem;
    height: 100%;
}
#loop-pic>ul>li{
    width: 10rem;
    float: left;
}




.container{
    margin: 0 auto;
    max-width: 750px;
    min-width: 320px;
}
.top{
    height: 1rem;
    width: 10rem;
    background-color: black;
}
.main{
    width: 10rem;
    height: 1000px;
    background-color: #cb0a56;
}
.main>#loop-pic{
    width: 10rem;
    height: 5rem;
    background-color: #599100;
}
.main>.pic{
    width: 10rem;
    height: 30%;
}
.main>.pic>div{
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    background-color: chartreuse;
    box-sizing: border-box;
    border: 1px solid black;
}